@font-face {
  font-family: Netflix;
  src: url("../../fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Netflix;
  src: url("../../fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

.credits {
  font-family: system-ui;
  background: #212429;
  font-size: 11px;
  color: white;
  padding: 0.5rem 0;
  text-align: center;
}
.credits a {
  color: #f865b0;
  text-decoration: none;
}

body {
  background: var(--cblack);
  color: var(--cwhite);
  margin: 0;
  font-family: Netflix;
  margin-bottom: 150px;
}

:root {
  --cblack: black;
  --cwhite: white;
  --cgray: #6e6e6e;
}

/* ---- HEADER ---- */

.header {
  padding: 15px;
  position: relative;
  z-index: 2;
  background-image: linear-gradient(
    to bottom,
    var(--cblack) 50%,
    var(--cblack) 50%,
    transparent 100%
  );
  padding: 15px 15px 100px;
}

a {
  color: var(--cwhite);
  text-decoration: none;
}

.navigation-item {
  list-style: none;
}

.navigation {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

/* ---- FEATURED ACTIONS ---- */

.featured {
  margin-top: -90px;
  position: relative;
  overflow: hidden;
}

.featured-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    to top,
    var(--cblack) 50%,
    var(--cblack) 50%,
    transparent 100%
  );
}

.tags {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
  font-size: 15px;
}

.tag::before {
  content: "•";
  margin-right: 5px;
}

.tag:first-child::before {
  display: none;
}

.featured-actions {
  display: flex;

  justify-content: space-around;
  align-items: center;
  padding-bottom: 2em;
}

.button {
  border: none;
  cursor: pointer;
}

.button-play {
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 4px 20px;
  border-radius: 3px;
}

.button-play::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
}

.button-secondary {
  background: none;
  filter: invert(100%);
  font-size: 1.1em;
}

.button-secondary::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  margin: auto;
}

.icon-plus::before {
  background: url(../../images/icons/plus.svg);
}

.icon-play::before {
  background: url(../../images/icons/play.svg);
}

.icon-info::before {
  background: url(../../images/icons/info.svg);
}

/* ---- MAIN  ---- */

.list-content {
  white-space: nowrap;
  overflow-x: auto;
}

.list-title {
  margin-top: 30px;
}

.list-item {
  display: inline-block;
  margin-left: 10px;
}

.list-item:first-child {
  margin-left: 0;
}

.list {
  padding: 0 1em;
}

/* ---- FOOTER ---- */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--cblack);
  padding: 1em 0 0;
}

.tab-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  padding-bottom: 1em;
}

.tab-list a {
  color: var(--cgray);
}

.tab-item {
  text-align: center;
  display: block;
}

.tab-icon {
  fill: var(--cgray);
  display: block;
  margin: auto;
}

.tab-item a:hover,
.tab-item a:hover path {
  fill: var(--cwhite);
  color: white !important;
}
